


.all-projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 35px 0;
}
.single-projects{
    padding: 30px 25px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
}
.single-project-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* color: grey; */
}
.project-header-right span{
    margin: 0 10px;
    font-size: 30px;
    cursor: pointer;
}
.project-header-left img{
    width: 40px;
}


.single-project-body{
    margin-top: 20px;
}
.single-project-body h2{
    font-size: 22px;
    color: #2A2A2A;
}


.project-technology{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
    margin-top: 25px;
}
.project-technology span{
    border: 3px solid #007ACC;
    padding: 5px 10px;
    border-radius: 10px;
}
.project-technology span p{
    margin: 0;    
    font-family: 'Nunito', sans-serif  !important;
    font-weight: 600;

}