


.single-blog-details-div{
    padding: 2rem 5rem ;
}
.single-blog-details-div 
.blog-img{
    text-align: center;
    padding: 50px 0;
    margin: 0 auto;
}
.single-blog-details-div img{
    width: 600px;
}

.single-blog-details-content p{
    font-family: 'Signika', sans-serif !important;
    /* line-height: 5px !important; */
  }




.authority{  
    width: 500px;
}
.authority p {
    margin-bottom: 0;
    font-weight: 600;
}
.author-img-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.authority-subDiv{
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    align-items: center;
    text-align: left;
    margin-top: 20px;
}
.author-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.authority img{
    width: 100%;
}

.single-blog-details-div hr {
    border: none;
    border-top: 3px solid #2a2a2a;
    margin-top: 80px;
    margin-bottom: 30px;
    width: 100%;
	}

/*--------------------------------------------------------------------------
For mobile:  
---------------------------------------------------------------------------*/
@media only screen and (max-width:768px){
    .authority p {
        font-size: 14px;
    }
    .single-blog-details-div{
        padding: 2rem 1rem ;
    }
    .single-blog-details-div img{
        width: 90%;
    }
}
@media only screen and (max-width:501px){
    .authority{
        width: 100%;
    }
    .authority-subDiv{
        gap: 20px;
    }
}

