.blog-div-parent {
    /* margin-left: 0.5rem;
    margin-top: 2rem; */
    /* background: royalblue; */
    margin: 2rem 1rem;
}

.blog-div-parent h1 {
    text-align: center;
    font-size: 28px;
}

.blog-div-parent hr {
    border: none;
    border-top: 3px solid ;
    margin-bottom: 50px;
    width: 50%;
    margin: auto;
}

.category-special-word{
    font-weight: 700;
    color: crimson;
}

.not-found{
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}


/* --- search div --- */
.search-div{
    margin: 40px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    /* border: 1px solid red; */
    width: 50%;
    position: relative;
    transition: all 0.5s ease;
    /* border: 2px solid red; */
}
/* .search-div:hover{
    width: 50%;
} */
.search-div img{
    width: 32px;
    cursor: pointer;
}
.search-img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    z-index: 500;
    transition: all 0.9s ease;
}
.search-input-field{
    opacity: 1;
    transform: scaleX(0);
    transition: all 0.3s ease;
    z-index: 30;
}
.search-div input{
    padding: 5px 15px;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 5px;
    color: grey;
    width: 100%;
    text-align: center;
    height: 40px;
}
.search-div:hover .search-img{
    border: none;
    left: 0;
    transform: translateX(0);
}
.search-div:hover .search-input-field{
    opacity: 1;
    transform: scaleX(1);
}












