


.header-div{
    background-color: #2a2a2a;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 90px;
    /* width: 250px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    transition: all 0.3s ease;
}
.header-div.active{
    width: 250px;
}


.logo-icon{
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    /* border: 1px solid white; */
    height: 60px;
    border-radius: 5px;
    width: 70%;
    cursor: pointer;
    transition: all 0.3s ease;
}
.logo-icon:hover{
    background: rgba(255, 255, 255, 0.137);
}
.logo-icon img{
    width: 30px;
    cursor: pointer;
    margin-left: 15px;
}
.logo-text{
    color: white;
    text-indent: 5px;
    letter-spacing: 1px;
    font-family: 'Nunito', sans-serif !important;
    font-weight: 200;
    display: none;
    transition: all 0.1s ease;
    /* font-size: 20px; */
}

.header-div.active .logo-text{
    display: block;
}

/* menubar for mobile view */
.menubar-mobile{
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 25px;
    color: #2a2a2a !important;
}
.menubar-mobile .menu-close{
    display: none;
}
.menubar-mobile.active .menu-open{
    display: none;
}
.menubar-mobile.active .menu-close{
    display: block;
}

/* for mobile responsiveness */
@media only screen and (max-width:767px){
    .header-div{
        width: 250px;
    }
    .logo-text{
        display: block;
    }
}