


.header-div{
    background-color: #212529;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    /* width: 90px; */
    width: 3.8rem;
    /* width: 250px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    transition: all 0.3s ease;
    z-index: 9999;
}
.header-div.vanished{
    display: none;
}
.header-div.active{
    width: 250px;
}


.logo-icon, .logo-icon a{
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    /* border: 1px solid white; */
    height: 60px;
    border-radius: 5px;
    width: 70%;
    cursor: pointer;
    transition: all 0.3s ease;
}
.logo-icon.active, .logo-icon a.active{
    border: none;
    text-decoration: none;
}
.logo-icon:hover{
    background: rgba(255, 255, 255, 0.137);
}
.logo-icon img{
    width: 25px;
    cursor: pointer;
    margin-left: 7px;
}
.logo-icon p{
    margin-bottom: 0;
}
.logo-text{
    color: white;
    text-indent: 5px;
    letter-spacing: 1px;
    font-family: 'Nunito', sans-serif !important;
    font-weight: 400;
    display: none;
    transition: all 0.1s ease;
    /* font-size: 20px; */
}

.header-div.active .logo-text{
    display: block;
}

/* menubar for mobile view */
.menubar-mobile{
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 25px;
    color: #2a2a2a !important;
    display: none;
    pointer-events: none;
    transition: all 0.3s ease;
}
.menubar-mobile .menu-close{
    display: none;
}
.menubar-mobile.active .menu-open{
    display: none;
}
.menubar-mobile.active .menu-close{
    display: block;
}

/* ------------------------------------------
for mobile responsiveness 
--------------------------------------------*/
@media only screen and (max-width:767px){
    .menubar-mobile{
        display: block;
        pointer-events: auto;
        cursor: pointer;
    }
    .header-div{
        width: 250px;
        left: -500px;
        z-index: 9999;
    }
    .header-div.mobile{
        left: 0;
    }
    .logo-text{
        display: block;
    }
}