


.header-div{
    background-color: #2a2a2a;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    /* width: 80px; */
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    transition: all 0.3s ease;
}
.header-div.active{
    width: 150px;
}


.logo-icon{
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    /* border: 1px solid white; */
    border-radius: 5px;
    width: 70%;
    cursor: pointer;
    transition: all 0.3s ease;
}
.logo-icon:hover{
    background: rgba(255, 255, 255, 0.137);
}
.logo-icon img{
    width: 35px;
    cursor: pointer;
    margin-left: 15px;
}
.logo-icon p{
    color: white;
    text-indent: 5px;
    letter-spacing: 1px;
    font-family: 'Nunito', sans-serif !important;
    font-weight: 600;
    /* font-size: 20px; */
}