

.banner-div{
    padding: 1rem 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    min-height: 100vh;
    background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)),url('https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg');    
    background-position: center;
}

.banner-left-parent{
    border: 10px solid #231f20;
    width:  350px;
    height: 350px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
}
.banner-left{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    background-image: url('https://i.ibb.co/6rBQWrX/user.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* -------------------------------- 
banner right side 
--------------------------------------*/
.banner-right{
    width: 50%;
}
.banner-right p, h2,h1 {
    margin: 0;
}
.banner-right p{
    font-weight: 500;
}
.banner-right h1{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
}



.social-icons{
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.social-single-icon{
    /* border: 3px solid #231F20; */
    /* background: #facf0f; */
    background: white;
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.5);
}
.social-single-icon img{
    width: 70%;
    margin: 0;
}
.first-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}


/* ------------------------------------------
for mobile responsiveness 
--------------------------------------------*/
@media only screen and (max-width:767px){
    .main-div{
        margin: 0;
        padding: 0;
      }
      .banner-div{
        padding: 4rem 0 ;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 40px;
        min-height:unset;
    }
    .banner-left-parent{
        border: 10px solid #231f20;
        width:  300px;
        height: 300px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* box-shadow:unset; */
    }
    .banner-left{
        width: 250px;
        height: 250px;
        border-radius: 50%;
        overflow: hidden;
        background-image: url('https://i.ibb.co/6rBQWrX/user.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
      .banner-right{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .banner-right h1{
        text-transform: uppercase;
        font-size: 25px;
    }

}