
.learning-history{
    padding: 4rem 2rem;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
    width: 95%;
    margin:  50px auto;
}


.learning-history-details{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
    width: 90%;
    /* border: 1px solid grey; */
    margin : 40px auto
}
.learning-skill-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 2px solid rgba(42, 42, 42, 0.679);
    padding: 5px 15px;
    border-radius: 3px;
}
.learning-skill-div img{
    width: 25px;
}
.learning-skill-div p{
    margin: 0;
    font-weight: 600;
    color: #231F20;
    font-size: 18px;
}